.TodoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    margin-bottom: 20px;
    border: 2px solid #03045e;
    border-radius: 8px;
    background-color: #FFF;
    height: fit-content;
}
.TodoItem p {
    color: #03045e;
    font-size: 18px;
    text-align: center;
    height: fit-content;
}
.TodoItem-icon {
    font-size: 50px;
    cursor: pointer;
}
@media (max-width: 730px) {
    .TodoItem p {
        font-size: 16px;
    }
}
@media (max-width: 500px) {
    .TodoItem {
        width: 100%;
    }
    .TodoItem p {
        font-size: 14px;
        width: 150px;
    }
    .TodoItem-icon {
        font-size: 32px;
    }
}